@import "reset";
@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
}
body {
  height: 100vh; // 왜?
  font-family: 'Montserrat', sans-serif;
  background-color: $white;
}
header {
  position: fixed; // 왜??
  top: 0;
  left: 0;
  background-color: $white;
  width: $headerWidth;
  height: 100%;
  padding: 10vh 140px 9vh 75px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red;
  overflow-y: scroll;
  h1 {
    font-size: 75px;  
    font-weight: 400;
    line-height: 85px;
  }
  h3 {
    margin-top: 82px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    width: 85%;
  }
  p {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    width: 97%;
    text-align: justify;
    text-indent: -7px;
  }
  nav {
    margin-top: 30px;
    font-size: 12px;
    ul {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 13px;
        color: rgba(0,0,0,.7);
        border-bottom: 2px solid rgba(0,0,0,.4);
        line-height: 25px;
        &:hover {
          color: rgba(0,0,0);
          border-bottom: 2px solid rgba(0,0,0);
          cursor: pointer;
        }
      }
    }
  }
  footer {
    width: 94%;
    margin-top: 25px;
    color: #606060;
    font-size: 10px;
    // text-align: justify;
  }
}
main {
  height: 5000vh;
  margin-left: $headerWidth;
  background-color: $red;
  .movie {
    display: flex;
    flex-direction: column;
    padding: 80px 75px 70px;
    background: linear-gradient(to top, rgba(0,0,0,.08), transparent);
    .movie__header {
      display: flex;
      justify-content: space-between;
      color: #fff;
      width: 100%;
      padding-bottom: 36px;
      .movie__title {
         font-size: 50px;
         font-weight: 500;
         letter-spacing: -5px;
         padding-right: 60px;
         white-space: nowrap;
      }
      .movie__director {
        font-size: 13px;
        font-weight: 500;
        flex-wrap: wrap;
        align-self: flex-end;
        text-align: right;
        span {
          white-space: nowrap;
        }
      }
    }
    .movie__video {
      position: relative;
      .movie__number {
        position: absolute;
        top: 31px;
        left: -5px;
        font-size: 23px;
        padding: 10px;
        background-color: #d8271a;
        color: #ffffff;  
      }
      img {
        height: 440px;
        width: 100%;
      }
      .like__count {
        position: absolute;
        top: 3px;
        right: -48px;
        color: #ffffff;  
        font-size: 15px;
        i {
          padding: 15px 18px;
          background-color: #da281b;
        }
        div {
          padding: 5px 18px;
          background-color: #da281b;
        }
      }
    }
    .movie__rating {
      color: #831d16;
      font-size: 17px;
      font-weight: 500;
      align-self: flex-end;
      padding-top: 55px;
    }
    .movie__comment {
      display: flex;
      color: #831d16;
      font-size: 17px;
      font-weight: 500;
      justify-content: space-between;
      padding-top: 75px;
      .leaveComment {
        border-bottom: 2px solid #831d16;
        padding-bottom: 10px;
        position: relative;
        i {
          position: absolute;
          left: -22px;
          top: 1px;
        }
      }
    }
  }
}
